@font-face {
    font-family: 'LucidaSans'; 
    src: url(assets/fonts/LucidaSans.ttf);
}

@font-face {
    font-family: 'SegoeWP';
    src: url(assets/fonts/SegoeWP.ttf);
}

@font-face {
    font-family: 'Asap-Regular';
    src: url(assets/fonts/Asap-Regular.otf);
}

@font-face {
    font-family: 'SegoeUILight';
    src: url(assets/fonts/SegoeUILight.ttf);
}

@font-face {
font-family: 'PTSansRegular';
src: url(assets/fonts/PTSansRegular.ttf);
}

@font-face {
    font-family: 'PTSansNarrow';
    src: url(assets/fonts/PTSansNarrow.ttf);
}

body {
    background-color: #ffffff;
    width: 100%;
    }

/*CAROUSEL*/
.carousel {
    position: absolute;
    display: flex;
    justify-content: space-between;
    margin-top: 300px;
    width: 100%;
    z-index: 1;
    height: 566px;
}

.prev-icon {
    background-color: #f5c506;
    padding: 18px 9px;
} 

.prev-icon:hover {
    background-color: #cca80c;
}

/*HEADER*/
header {
background: url(assets/images/bg.png) no-repeat center;
background-size: cover;
height: 566px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1020px;
    /*border: 1px solid lawngreen;*/
    margin: 0 auto;
    padding-top: 30px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo-name {
    text-transform: uppercase;
    font-family: 'LucidaSans', sans-serif;
    font-size: 41px;
    padding-top: 9px;
    padding-left: 5px;
    color: #ffffff;
    font-style: italic;
}


/*MENU*/
nav {
    margin-top: 32px;
}

nav {
    
    box-shadow: -6px -3px 2px 3px rgba(157, 133, 25, 1),
                -13px -10px 2px 3px rgba(128, 113, 34, 0.6);
}

li {
    display: inline;
}

.menu li {
    background-color: #f5c506;
    padding: 16px 18px 8px 16px;
    border-right: 1px solid #a18208;
}

.menu li:first-child {
    padding-right: 12px;
}

.menu li:nth-child(2n) {
    padding-right: 16px;
}

.menu a {
    text-transform: uppercase;
    text-decoration: none;
    color: #a18208;
    font-family: 'SegoeWP';
    font-size: 17px;
    padding-left: 2px;
}

.menu a:first-child {
    padding-left: 25px;
}

.menu a:hover {
    color: wheat;
    }

.menu img {
    padding-right: 9px;
    padding-top: 11px;
}

.menu img:first-child {
    padding-right: 9px;
    padding-top: 11px;
}

.menu span {
    padding-left: 24px;
}