@font-face {
    font-family: 'LucidaSans'; 
    src: url(assets/fonts/LucidaSans.ttf);
}

@font-face {
    font-family: 'SegoeWP';
    src: url(assets/fonts/SegoeWP.ttf);
}

@font-face {
    font-family: 'Asap-Regular';
    src: url(assets/fonts/Asap-Regular.otf);
}

@font-face {
    font-family: 'SegoeUILight';
    src: url(assets/fonts/SegoeUILight.ttf);
}

@font-face {
font-family: 'PTSansRegular';
src: url(assets/fonts/PTSansRegular.ttf);
}

@font-face {
    font-family: 'PTSansNarrow';
    src: url(assets/fonts/PTSansNarrow.ttf);
}

@font-face {
    font-family: 'SegoeWPLight';
    src: url(assets/fonts/SegoeWPLight.ttf);
}

@font-face {
    font-family: 'SegoeUI';
    src: url(assets/fonts/SegoeUI.ttf);
}

body {
    background-color: #ffffff;
    width: 100%;
    }

/*CAROUSEL*/
.carousel {
    position: absolute;
    display: flex;
    justify-content: space-between;
    margin-top: 300px;
    width: 100%;
    z-index: 1;
    height: 566px;
}

.prev-icon {
    background-color: #f5c506;
    padding: 18px 9px;
} 

.prev-icon:hover {
    background-color: #cca80c;
}

/*HEADER*/
.wrapper {
background: url(assets/images/bg.png) no-repeat center;
background-size: cover;
height: 566px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1020px;
    /*border: 1px solid lawngreen;*/
    margin: 0 auto;
    padding-top: 30px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo-name {
    text-transform: uppercase;
    font-family: 'LucidaSans', sans-serif;
    font-size: 41px;
    padding-top: 9px;
    padding-left: 5px;
    color: #ffffff;
    font-style: italic;
}


/*MENU*/
nav {
    margin-top: 32px;
}

nav {
    
    box-shadow: -6px -3px 2px 3px rgba(157, 133, 25, 1),
                -13px -10px 2px 3px rgba(128, 113, 34, 0.6);
}

li {
    display: inline;
}

.menu li {
    background-color: #f5c506;
    padding: 16px 18px 8px 16px;
    border-right: 1px solid #a18208;
}

.menu li:first-child {
    padding-right: 12px;
}

.menu li:nth-child(2n) {
    padding-right: 16px;
}

.menu a {
    text-transform: uppercase;
    text-decoration: none;
    color: #a18208;
    font-family: 'SegoeWP', sans-serif;
    font-size: 17px;
    padding-left: 2px;
}

.menu a:first-child {
    padding-left: 25px;
}

.menu a:hover {
    color: wheat;
    }

.menu img {
    padding-right: 9px;
    padding-top: 11px;
}

.menu img:first-child {
    padding-right: 9px;
    padding-top: 11px;
}

.menu span {
    padding-left: 24px;
}

/*MAIN*/
/*SECTION 1*/
.player {
    width: 1020px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 55px;
    margin-left: 150px;
}
    
 .video {
    position: relative;
}
    
.video-layer {
    background-color: rgba(245, 197, 6, 0.11);
    position: absolute;
    top: 0;
    left: 0;
     width: 550px;
    height: 330px;
}
    
.info {
    margin-top: 79px;
    padding-right: 23px;
}
    
.info p {
    font-family: 'Asap-Regular', sans-serif;
    font-size: 63px;
    text-transform: uppercase;
    text-align: center;
}
    
.second-p {
    padding: 11px 13px;
}


/*SECTION 2*/
.advantages {
    background-color: #ffffff;
    width: 100%;
    box-shadow: 0px -4px 8px -3px rgba(0,0,0,0.61);
}

.blocks {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #ffffff;
    width: 1020px;
    margin: 0 auto;
}

.advantages p {
    font-family: 'SegoeUILight', sans-serif;
    font-size: 27px;
    text-transform: uppercase;
    text-align: center;
}

.blocks div {
    width: 330px;
    height: 212px;
    border-left: 1px solid #d2d2d2;
    padding-left: 9px;
}

.blocks div:last-child {
    border-right: 1px solid #d2d2d2;
}

.block-1 object{
    margin: 60px 0 2px 103px;
}

.block-1 p {
    padding-top: 10px;
    margin-left: 7px;
}

.block-2 object{
    margin: 38px 0px 14px 125px;
}

.block-2 p {
    margin-left: 10px;
}

.block-3 object{
    margin: 53px 0px 12px 109px;
}

.block-3 p {
    margin-right: 26px;
}

/*SECTION 2*/
.about {
    background-image: url(assets/images/bg-2.jpg);
    background-size: no-repeat, center, cover;
    width: 100%;
    height: 509px;
    box-shadow: inset -4px 15px 9px -15px rgba(0,0,0,0.61);
}

.content {
    width: 1020px;
    margin: 0 auto;
}

.content h2 {
    font-family: 'PTSansRegular', sans-serif; /*поменять шрифт*/
    font-size: 37px;
    color: #ffffff;
    text-transform: uppercase;
    padding-top: 40px;
}

.word3 {
    padding-left: 7px; 
}

.items {
    display: flex;
    margin-top: 32px;
}

.item1 {
    position: relative;
    width: 340px;
    height: 233px;
    background-color: #ec9e03;
}

.item1 p {
    font-family: 'SegoeWPLight', sans-serif;
    font-size: 29px;
    color: #ffffff;
    line-height: 40px;
    padding: 14px 38px 33px 29px;
    word-wrap: break-word;
}

.item3 {
    display: flex;
    align-items: inherit;
    position: relative;
    width: 325px;
    height: 233px;
    background-color: #ec9e03;
    margin-left: 36px;
}

.item3 p {
    position: absolute;
    font-family: 'SegoeWPLight', sans-serif;
    font-size: 25px;
    color: #ffffff;
    text-align: end;
    right: 5%;
    top: 7%;
}

.item3 img {
    padding-left: 33%;
    padding-top: 25%;
}


.plus {
    position: absolute;
    bottom: 4%;
}

.plus1 {
    right: 4%;
}

.plus2 {
    right: 2%;
}

.calendar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 112px;
    height: 85px;
    margin-top: -3px;
    font-family: 'SegoeUI', sans-serif;
    background-color: #ddb101;
}

.calendar .date {
    font-size: 51px;
    font-weight: bold;
    color: #ffffff;
    padding-top: 8px;
}

.calendar .month {
    font-size: 21px;
    color: #b26529;
    text-transform: uppercase;
}


/*SLIDER*/
.slidecontainer {
    width: 86%;
    margin: 0 auto;
    margin-top: 43px;
}

.slider {
    -webkit-appearance: none;
    width: 102%;
    height: 15px;
    background: #ffffff;
    border-radius: 6px;
    outline: none;
    opacity: 0.48;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 195px;
    height: 15px;
    border-radius: 6px;
    background: #ec9e03;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 195px;
    height: 15px;
    border-radius: 6px;
    background: #ec9e03;
    cursor: pointer;
}



